.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .formWrapper {
        .logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }
        .title{
            color: #5d5b8d;
            font-size: 20px;
        }
        width: 300px;
        background-color: #fff;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                input {
                    padding: 15px;
                    border: none;
                    border-bottom: #a7bcff 1px solid;
                }
                button {
                    padding: 10px;
                    color: white;
                    background-color: #a7bcff;
                    border: none;
                    font-size: 20px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                label{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    span{
                        font-size: small;
                        padding: 10px;
                    }
                }
            }
            p{
                color: #5d5b8d;
                font-size: 14px;
            }
        }
}

.home {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        border: white 1px solid;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        .sidebar{
            color: white;
            flex: 1;
            background-color: #3e3c61;
            border-right: #5d5b8d 1px solid;
            .navbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                padding: 10px;
                height: 50px;
                justify-content: space-between;
                .logo{
                    font-weight: bold;
                    @media screen and (max-width: 600px) {
                        display: none;   
                    }
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        background-color: #ddddf7;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        font-size: 14px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }
            .search{
                border-bottom: 1px solid black;
                input {
                        padding: 5px;
                        color: white;
                        border: none;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        border-bottom: #fff .5px solid;
                        &::placeholder {
                            color: #ddddf7;
                        }
                    }
                    
                .userChat{
                    &:hover {
                            background-color: #201f3d;
                    }
                    padding: 10px;
                    color: white;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                        img {
                            margin: 0 10px;
                            background-color: #ddddf7;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        p{
                            font-size: 6px;
                        }
                }
            }
            .chats{
                .userChat {
                        &:hover {
                            background-color: #201f3d;
                        }
                
                        padding: 10px;
                        color: white;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                
                        img {
                            margin: 0 10px;
                            background-color: #ddddf7;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                        p{
                            font-size: 11px;
                        }
                    }
            }
        }
        .chat{
            flex: 2;
            .chatInfo{
                height: 50px;
                background-color: #5d5b8d;
                display: flex;
                align-items:baseline;
                justify-content: space-between;
                padding: 10px;
                color: lightgray;
            }
            .chatIcons{
                gap: 10px;
                img{    
                    height: 24px;
                    cursor: pointer;
                }
            }
            .messages{
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
                overflow-y: scroll;
                .message{
                    display: flex;
                    gap: 20px;
                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: grey;
                        font-weight: 300;
                        margin-bottom: 20px;
                        img{
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p{
                            background-color: #fff;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }
                    &.owner{
                        flex-direction: row-reverse;
                        .messageContent{
                            p {
                                background-color: #8da4f1;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                            align-items: flex-end;
                        }
                    }
                }
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
            }
            .input{
                height: 50px;
                display: flex;
                background-color: #fff;
                padding: 10px;
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    padding: 10px;
                }
                .send{
                    display: flex;
                    padding: 4px;
                    align-items: center;
                    gap: 10px;
                    img{
                        cursor: pointer;
                    }
                    button{
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        font-size: 14px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 10px;
                    }
                }
            }
        }
    }
}